<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
<link rel="stylesheet" href="login.css">
</head>
<body>
	<div class="login-box">
		<h2>Log In</h2>
		<form id="loginForm" action="#" th:action="@{/validateUser}" th:object="${user}" method="POST">
			<div class="user-box">
				<label>Email</label> <br> <input type="text" th:field="*{email}" required>
			</div>
			<div class="user-box">
				<label>Password</label> <br> <input type="password" th:field="*{password}" required>
			</div>
			<br>
			<div class="submit-box">
				<button type="submit">Log In</button>
			</div>
			<br>
			<div class="submit-box">
				<button type="button">
					<a th:href="@{/Register}">register</a>
				</button>
			</div>
		</form>
	</div>
</body>
</html>